body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 0;
}

#grid {
  display: grid;
  align-items: stretch;
  width: 720px;
  height: 720px;
}

#grid>div {
  display: grid;
  background-color: #333;
  border: solid 2px #111;
  transition: all 1s ease;
  cursor: pointer;
}

#grid>div.activated {
  background-color: red;
}

button#clear-grid {
  margin: 2rem auto;
  padding: .5em 2em;
  background-color: transparent;
  border: solid .2em #fff;
  border-radius: .6rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease;
}

button#clear-grid:hover {
  border-color: #966adb;
  color: #966adb;
}